[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
mobius_chair = {path = ".", editable = true}
hdfs = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
